@using System;
@using System.IO;
@{
    string dir = Directory.GetCurrentDirectory();
    string[] files = Directory.GetFiles(dir);
    for (int i = 0; i < files.Length; i++)
    {
        <p style="background-color:aquamarine">@files[i]</p>
    }
}